   <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">Oxirgi chiqqan pitsalar</h2>
        <p>Eng oxirgi turdagi mazzali pitsalar. Amerika mashxur pitsalaridan namunalar olindi</p>
      </div>
    </div>
    </div>
    <div class="container-wrap">
        
        <div class="row no-gutters d-flex">
            {% for pizz in pizza %}
            <div class="col-lg-4 d-flex ftco-animate">
                <div class="services-wrap d-flex">
                    <a href="#" class="img" style="background-image: url({{ pizz.image.url }});"></a>
                    <div class="text p-4">
                        <h3>{{ pizz.title }}</h3>
                        <p>{{ pizz.description|slice:20}} </p>
                        <p class="price"><span>{{ pizz.price }} so'm</span> <a href="#" class="ml-2 btn btn-white btn-outline-white">Buyurtma</a></p>
                    </div>
                </div>
            </div>	
            {% endfor %}

        </div>
    </div>