{% for pizz in pizza_number %}
<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
    <div class="block-18 text-center">
      <div class="text">
          <div class="icon"><span class="flaticon-pizza-1"></span></div>
          <strong class="number" data-number="{{pizz.branches}}">{{pizz.branches}}</strong>
          <span>Pizza Branches</span>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
    <div class="block-18 text-center">
      <div class="text">
          <div class="icon"><span class="flaticon-medal"></span></div>
          <strong class="number" data-number="{{pizz.awards}}">{{pizz.awards}}</strong>
          <span>Number of Awards</span>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
    <div class="block-18 text-center">
      <div class="text">
          <div class="icon"><span class="flaticon-laugh"></span></div>
          <strong class="number" data-number="{{pizz.customer}}">{{pizz.customer}}</strong>
          <span>Happy Customer</span>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
    <div class="block-18 text-center">
      <div class="text">
          <div class="icon"><span class="flaticon-chef"></span></div>
          <strong class="number" data-number="{{pizz.staff}}">{{pizz.staff}}</strong>
          <span>Staff</span>
      </div>
    </div>
  </div>
</div>
{% endfor %}